.song-list {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

.song-info {
    display: flex;
    align-items: center;
}

.song-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}







.button {
    margin: 10px;
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
    cursor: pointer;
}

.button::after,
.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;

}

.button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}


.ss{
    padding: 0;
    margin: 0;
}

.container {
    position: fixed;
    bottom: 10%;
    right: 0;
    transform: translateY(-50%);
    width: 285px;
    height: 310px; 
    overflow: hidden;
  
}

.box {
    position: absolute;
    top: 0;
    right: 0;
    width: 285px;
    height: 200px;
    background-color: #3498db;
    transition: transform 0.5s ease;
}

.show {
    transform: translateX(0%);
}

.hide {
    transform: translateX(100%);
}

.toggle-btn {
    position: fixed;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    z-index: 2;


}
.toggle-btn {
    position: fixed;
    top: 35%; /* Adjust top position as needed */
     /* Adjust right position as needed */
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    width: 150px; /* Adjust width as needed */
    height: 50px;
    left: 65%; /* Adjust height as needed */
}


.player img {
    height: 250px;
    width: 285px; 
}

.seen{
    z-index: 1;
}


